@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&subset=japanese&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

@media (min-width: 1088px) {
  .hidden-pc {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1087px) {
  .hidden-tab {
    display: none;
  }
}

@media (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

.inner {
  width: 1088px;
  max-width: 100%;
  margin: 0 auto;
  height: inherit;
}

@media (max-width: 1087px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.button, .button-mainvisual, .button-arrow-right, .button-modal {
  display: inline-block;
  background: #3f51b5;
  color: #fff;
  text-align: center;
  padding: 1em 3em;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button-mainvisual {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding: 12px 80px;
  border-radius: 12px;
  font-size: 38px;
}

@media (max-width: 1087px) {
  .button-mainvisual {
    font-size: 30px;
    padding-left: 52px;
    padding-right: 52px;
  }
}

@media (max-width: 767px) {
  .button-mainvisual {
    padding: 10px 36px;
    border-radius: 8px;
    font-size: 20px;
  }
}

.button-mainvisual:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.button-arrow-right {
  border-radius: 12px;
  font-size: 20px;
  padding: 13px 58px 12px;
  position: relative;
}

@media (max-width: 1087px) {
  .button-arrow-right {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 767px) {
  .button-arrow-right {
    padding: 10px 36px;
    border-radius: 8px;
    font-size: 18px;
  }
}

.button-arrow-right::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 18px;
  width: 13px;
  height: 20px;
  background: transparent url(../img/icon-arrow-right.png) no-repeat center center/contain;
}

@media (max-width: 767px) {
  .button-arrow-right::after {
    right: 10px;
    width: 11.96px;
    height: 18.4px;
  }
}

.button-arrow-right:hover {
  opacity: 0.6;
}

.button-modal {
  border-radius: 12px;
  width: 180px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button-modal:hover {
  opacity: 0.6;
}

.section-title {
  font-size: 60px;
  font-weight: bold;
  padding: 0 0 28px;
  margin: 0;
  position: relative;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.section-title::after {
  content: "";
  background: #3f51b5;
  width: 76px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 767px) {
  .section-title::after {
    width: 48px;
  }
}

@media (max-width: 1087px) {
  .section-title {
    font-size: 50px;
    padding-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .section-title {
    font-size: 42px;
    padding-bottom: 16px;
  }
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #3f51b5 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 30px 0;
  z-index: 20;
}

@media (max-width: 767px) {
  .header {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 0;
  line-height: 1;
}

.header__logo img {
  width: 200px;
  vertical-align: top;
}

@media (max-width: 1087px) {
  .header__logo img {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .header__logo img {
    width: 148px;
  }
}

.header__logo a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__logo a:hover {
  opacity: 0.6;
}

.header__nav {
  margin-left: auto;
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav ul li {
  margin-right: 30px;
}

.header__nav ul li:last-child {
  margin-right: 0;
}

.header__nav ul li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  font-family: "Lato", sans-serif;
}

.header__nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: #e81919;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__nav ul li a:hover::after, .header__nav ul li a.is-active::after {
  opacity: 1;
}

.tab {
  padding: 56px 0 142px;
}

@media (max-width: 767px) {
  .tab {
    padding-top: 36px;
    padding-bottom: 100px;
  }
}

.tab__nav {
  margin-top: 80px;
  overflow: auto;
  border-bottom: 3px solid #3f51b5;
}

@media (max-width: 767px) {
  .tab__nav {
    border-width: 2px;
  }
}

.tab__nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab__nav ul li a, .tab__nav ul li span {
  text-decoration: none;
  color: #333;
  border: 3px solid #3f51b5;
  border-radius: 12px 12px 0 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 200px;
  max-width: 100%;
  display: block;
  border-bottom: none;
  padding: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

@media (max-width: 1087px) {
  .tab__nav ul li a, .tab__nav ul li span {
    width: 160px;
  }
}

@media (max-width: 767px) {
  .tab__nav ul li a, .tab__nav ul li span {
    width: 120px;
    border-width: 2px;
    padding: 12px;
  }
}

.tab__nav ul li a:hover, .tab__nav ul li span:hover {
  color: #fff;
  background: #3f51b5;
}

.tab__nav ul li a.is-active, .tab__nav ul li span.is-active {
  font-size: 20px;
  width: 260px;
  padding-top: 20px;
  padding-bottom: 24px;
  color: #fff;
  background: #3f51b5;
}

@media (max-width: 1087px) {
  .tab__nav ul li a.is-active, .tab__nav ul li span.is-active {
    width: 200px;
  }
}

@media (max-width: 767px) {
  .tab__nav ul li a.is-active, .tab__nav ul li span.is-active {
    width: 150px;
    padding: 16px;
  }
}

.tab-item {
  padding: 52px 20px;
  display: none;
}

.tab-item.is-active {
  display: block;
}

.tab-item__lead {
  text-align: center;
}

.tab-item__lead span {
  font-size: 20px;
  font-weight: bold;
  padding: 0 30px;
  display: inline-block;
  position: relative;
}

.tab-item__lead span::before, .tab-item__lead span::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 32px;
  background: #3f51b5;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.tab-item__lead span::before {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(-10deg);
          transform: translateY(-50%) rotate(-10deg);
}

.tab-item__lead span::after {
  right: 0;
  -webkit-transform: translateY(-50%) rotate(10deg);
          transform: translateY(-50%) rotate(10deg);
}

.tab-item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .tab-item__body {
    display: block;
  }
}

.tab-item__img {
  width: 50%;
}

.tab-item__img img {
  width: 464px;
}

@media (max-width: 767px) {
  .tab-item__img {
    width: 100%;
    text-align: center;
  }
}

.tab-item__content {
  width: 50%;
  margin-left: auto;
  padding: 26px 28px 20px;
}

@media (max-width: 1087px) {
  .tab-item__content {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .tab-item__content {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.tab-item__title {
  font-size: 18px;
  font-weight: bold;
}

.tab-item__info {
  margin-top: 24px;
  line-height: 1.625;
}

.tab-item__link {
  text-align: center;
  margin-top: 24px;
}

.drawer-icon {
  display: none;
  position: fixed;
  right: 10px;
  top: 16px;
  z-index: 41;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.drawer-icon.is-checked {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

@media (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-bars {
  display: inline-block;
  width: 28px;
  height: 22px;
  position: relative;
  vertical-align: bottom;
}

.drawer-bar {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  background-color: #fff;
  width: 100%;
  height: 4px;
  border-radius: 0;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.drawer-bar:nth-of-type(1) {
  top: 0;
}

.drawer-bar:nth-of-type(2) {
  top: 9px;
}

.drawer-bar:nth-of-type(3) {
  top: 18px;
}

.is-checked .drawer-bar:nth-of-type(1) {
  top: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.is-checked .drawer-bar:nth-of-type(2) {
  background: transparent;
}

.is-checked .drawer-bar:nth-of-type(3) {
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.drawer-background {
  display: none;
  position: fixed;
  z-index: 39;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.drawer-background.is-checked {
  display: block;
  opacity: 0.8;
}

.drawer-content {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  z-index: 40;
  width: 200px;
  max-width: 90%;
  height: 100%;
  background: #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  text-align: left;
  color: #707070;
}

.drawer-content.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
          box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
}

.drawer-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.drawer-content ul li {
  border-bottom: 1px dotted #707070;
}

.drawer-content ul li a {
  text-decoration: none;
  display: block;
  position: relative;
  padding: 13px 30px 12px 20px;
  color: #707070;
}

.drawer-content ul li a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 7px;
  height: 11px;
  background: transparent url(../img/drawer-arrow-right.png) no-repeat center center/contain;
}

.mainvisual {
  height: 700px;
  width: 100%;
  position: relative;
  background: transparent url(../img/mainvisual.png) no-repeat top center/cover;
  overflow: hidden;
}

@media (max-width: 1087px) {
  .mainvisual {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .mainvisual {
    height: 500px;
  }
}

.mainvisual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

@media (max-width: 1087px) {
  .mainvisual__content {
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .mainvisual__content {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 30px;
  }
}

.mainvisual__title {
  font-size: 68px;
  font-weight: 700;
  line-height: 1.4;
}

@media (max-width: 1087px) {
  .mainvisual__title {
    font-size: 56px;
  }
}

@media (max-width: 767px) {
  .mainvisual__title {
    font-size: 36px;
  }
}

.mainvisual__lead {
  font-size: 38px;
  font-weight: 700;
  margin-top: 3px;
}

@media (max-width: 1087px) {
  .mainvisual__lead {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .mainvisual__lead {
    font-size: 20px;
  }
}

.mainvisual__button {
  margin-top: 78px;
}

@media (max-width: 1087px) {
  .mainvisual__button {
    margin-top: 62px;
  }
}

@media (max-width: 767px) {
  .mainvisual__button {
    margin-top: 42px;
  }
}

.swiper-slide {
  position: relative;
  height: 700px;
  width: 100%;
}

@media (max-width: 1087px) {
  .swiper-slide {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .swiper-slide {
    height: 500px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 75px;
  height: 75px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: -36px 0 0;
  z-index: 3;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 42px;
    height: 42px;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev {
  background: transparent url(../img/slide-arrow-left.png) no-repeat center center/contain;
  left: calc(50% - 544px + 16px);
}

@media (max-width: 1087px) {
  .swiper-button-prev {
    left: 24px;
  }
}

@media (max-width: 767px) {
  .swiper-button-prev {
    left: 4px;
  }
}

.swiper-button-next {
  background: transparent url(../img/slide-arrow-right.png) no-repeat center center/contain;
  right: calc(50% - 544px + 16px);
}

@media (max-width: 1087px) {
  .swiper-button-next {
    right: 24px;
  }
}

@media (max-width: 767px) {
  .swiper-button-next {
    right: 4px;
  }
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #fff;
  opacity: 1;
}

@media (max-width: 767px) {
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}

.swiper-pagination-bullet-active {
  background: #2f7dc8;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 18px;
  z-index: 2;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 6px;
  margin-right: 6px;
}

.card {
  background: #efefef;
  padding: 56px 0 142px;
}

@media (max-width: 767px) {
  .card {
    padding-top: 36px;
    padding-bottom: 80px;
  }
}

.card__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 58px;
}

@media (max-width: 767px) {
  .card__items {
    margin-top: 30px;
  }
}

.card__item {
  width: calc(33.33333333% - 30px * 2 / 3);
  margin-right: 30px;
  margin-top: 20px;
}

.card__item:nth-child(3n) {
  margin-right: 0;
}

@media (max-width: 1087px) {
  .card__item {
    width: calc(50% - 24px / 2);
    margin-right: 24px;
  }
  .card__item:nth-child(3n) {
    margin-right: 24px;
  }
  .card__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .card {
    width: 100%;
    margin-right: 0;
  }
  .card:nth-child(3n) {
    margin-right: 0;
  }
}

.media {
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.media:hover {
  opacity: 0.6;
}

.media__img {
  text-align: center;
}

.media__img img {
  vertical-align: bottom;
}

.media__body {
  padding: 22px 0;
}

.media__title {
  font-weight: bold;
  font-size: 20px;
  color: #6f7579;
}

.media__content {
  font-weight: bold;
  color: #6f7579;
  margin-top: 14px;
  line-height: 1.5;
}

.news {
  padding: 56px 0 32px;
}

.news__items {
  margin: 70px auto 0;
  width: 844px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .news__items {
    margin-top: 38px;
  }
}

.news__item {
  border-bottom: 1px solid #707070;
}

.news__item:last-child {
  border: none;
}

.news__link {
  text-align: center;
  margin-top: 14px;
}

.news__link a {
  text-decoration: none;
  color: #e81919;
  font-family: "Lato", sans-serif;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: bold;
}

.news__link a::after {
  content: "";
  width: 7px;
  height: 11px;
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
  margin-top: -1;
  background: transparent url(../img/news-arrow.png) no-repeat center center/contain;
}

.news__link a:hover {
  opacity: 0.6;
}

.info {
  padding: 16px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .info {
    display: block;
    padding: 12px 0;
  }
}

.info__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 245px;
  padding-top: 2px;
}

@media (max-width: 767px) {
  .info__meta {
    width: 100%;
    padding-top: 0;
  }
}

.info__published {
  width: 115px;
  font-family: "Lato", sans-serif;
  display: inline-block;
  padding-top: 3px;
}

@media (max-width: 767px) {
  .info__published {
    width: auto;
  }
}

.info__label {
  width: 130px;
}

@media (max-width: 767px) {
  .info__label {
    width: auto;
    margin-left: auto;
  }
}

.info__label a {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 3px 18px;
  background-color: #666;
  border-radius: 6px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.info__label a:hover {
  opacity: 0.6;
}

.info__label--type01 a {
  background-color: #3F51B5;
  text-decoration: none;
}

.info__label--type02 a {
  background-color: #E81919;
  text-decoration: none;
}

.info__title {
  line-height: 1.625;
  width: calc(100% - 115px - 130px);
}

@media (max-width: 767px) {
  .info__title {
    width: 100%;
    margin-top: 6px;
  }
}

.info__title a {
  text-decoration: none;
  color: #333;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.info__title a:hover {
  opacity: 0.6;
}

.table {
  padding: 50px 0 100px;
  background: #efefef;
}

@media (max-width: 767px) {
  .table {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}

.table__content {
  margin-top: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .table__content {
    display: block;
    margin-top: 52px;
  }
}

.table__image {
  width: 360px;
  margin-right: 122px;
  text-align: center;
}

@media (max-width: 1087px) {
  .table__image {
    margin-right: 62px;
  }
}

@media (max-width: 767px) {
  .table__image {
    width: 100%;
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.table__image img {
  width: 360px;
}

.table__price {
  width: 608px;
}

@media (max-width: 767px) {
  .table__price {
    width: 100%;
  }
}

.table-default {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #707070;
  background: #fff;
  table-layout: fixed;
}

.table th,
.table td {
  padding: 12px 16px;
  border: 1px solid #707070;
  vertical-align: middle;
  line-height: 1.5;
}

.table th {
  text-align: center;
  background: #999;
  font-weight: bold;
  color: #fff;
  font-family: "Lato", sans-serif;
}

.table th:first-child {
  width: 158px;
}

@media (max-width: 1087px) {
  .table th:first-child {
    width: 100px;
  }
}

@media (max-width: 767px) {
  .table th:first-child {
    width: 80px;
  }
}

.table td {
  text-align: right;
}

.table__attention {
  margin-top: 16px;
}

.table__attention a {
  color: #333;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.table__attention a:hover {
  opacity: 0.6;
}

.map {
  padding: 60px 88px;
}

@media (max-width: 767px) {
  .map {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}

.map__iframe {
  width: 800px;
  max-width: 100%;
  margin: 102px auto 0;
}

@media (max-width: 767px) {
  .map__iframe {
    margin-top: 60px;
  }
}

.map__iframe-wrap {
  width: 100%;
  padding-top: 50%;
  position: relative;
}

.map__iframe-wrap > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.map__info {
  margin: 30px auto 0;
  padding: 0 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 800px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .map__info {
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
  }
}

.map__info dt,
.map__info dd {
  padding: 6px;
  margin: 0;
}

@media (max-width: 767px) {
  .map__info dt,
  .map__info dd {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.map__info dt {
  width: 118px;
}

@media (max-width: 767px) {
  .map__info dt {
    width: 92px;
  }
}

.map__info dd {
  width: calc(100% - 118px);
}

@media (max-width: 767px) {
  .map__info dd {
    width: calc(100% - 92px);
  }
}

.map__link {
  text-align: center;
  margin: 30px 0;
}

.qa {
  padding: 56px 0 142px;
}

@media (max-width: 767px) {
  .qa {
    padding: 36px;
    padding-bottom: 100px;
  }
}

.qa__items {
  margin: 92px auto 0;
  width: 900px;
  max-width: 100%;
}

.qa__item {
  margin-bottom: 28px;
}

.qa__item:last-child {
  margin-bottom: 0;
}

.accordion__head {
  margin: 0;
  background: #3f51b5;
  color: #fff;
  padding: 16px 56px;
  position: relative;
  cursor: pointer;
}

.accordion__head::before {
  content: "Q";
  position: absolute;
  font-weight: 700;
  color: #fff;
  left: 22px;
  top: 18px;
}

.accordion__body {
  margin: 0;
  background: #fff;
  display: none;
  border: 1px solid #3f51b5;
}

.accordion__body-in {
  padding: 20px 56px 30px;
  line-height: 1.61111;
  color: #3f51b5;
  position: relative;
  font-size: 18px;
}

@media (max-width: 767px) {
  .accordion__body-in {
    padding-right: 22px;
  }
}

.accordion__body-in::before {
  content: "A";
  position: absolute;
  left: 22px;
  top: 24px;
  font-weight: bold;
}

.accordion__icon {
  width: 16px;
  height: 16px;
  background: transparent url(../img/icon-plus.png) no-repeat center center/contain;
  position: absolute;
  right: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.accordion__icon.is-open {
  background-image: url(../img/icon-minus.png);
}

.contact {
  padding: 56px 0 124px;
  background: #efefef;
}

@media (max-width: 767px) {
  .contact {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}

.contact__item {
  margin: 48px auto 0;
  padding: 58px 48px 60px;
  background: #fff;
  width: 800px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .contact__item {
    padding: 24px 16px;
    margin-top: 26px;
  }
}

.contact__controls {
  margin: 0;
}

.contact__control {
  margin-bottom: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .contact__control {
    display: block;
    margin-bottom: 24px;
  }
}

.contact__control:last-child {
  margin-bottom: 0;
}

.contact__control dt {
  width: 180px;
  padding: 14px 0 0;
  margin: 0;
}

@media (max-width: 767px) {
  .contact__control dt {
    width: 100%;
    padding-top: 0;
  }
}

.contact__control dd {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .contact__control dd {
    width: 100%;
    margin-top: 8px;
  }
}

.contact__label {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .contact__label {
    font-size: 16px;
    display: inline-block;
  }
}

.contact__label--required {
  position: relative;
}

@media (max-width: 767px) {
  .contact__label--required {
    padding-right: 54px;
  }
}

.contact__label--required::after {
  content: "必須";
  position: absolute;
  background: #e81919;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 1px 8px;
  width: 46px;
  display: block;
  top: calc(100% + 6px);
  left: 0;
}

@media (max-width: 767px) {
  .contact__label--required::after {
    top: 50%;
    left: auto;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.contact__radio {
  margin-top: 40px;
  padding: 0 10px;
}

@media (max-width: 767px) {
  .contact__radio {
    margin-top: 26px;
  }
}

.contact__radio-item {
  margin-right: 26px;
}

.contact__radio-item:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .contact__radio-item {
    margin-bottom: 16px;
    margin-right: 0;
    display: block;
  }
}

.contact__check {
  margin-top: 46px;
  text-align: center;
}

@media (max-width: 767px) {
  .contact__check {
    margin-top: 24px;
  }
}

.contact__check a {
  color: #333;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact__check a:hover {
  opacity: 0.6;
}

.contact__submit {
  margin-top: 30px;
  text-align: center;
}

.contact__modal {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 68%;
  max-width: 100%;
  padding: 60px 56px 20px;
  height: 80%;
  z-index: 100;
  background: #fff;
  display: none;
}

@media (max-width: 1087px) {
  .contact__modal {
    width: 90%;
    height: 80%;
    padding: 38px 36px 20px;
  }
}

@media (max-width: 1087px) {
  .contact__modal {
    height: 90%;
    padding: 38px 24px 20px;
  }
}

.contact__modal.is-show {
  display: block;
}

.contact__modal-close-icon {
  position: absolute;
  right: -21px;
  top: -21px;
  cursor: pointer;
}

.contact__modal-close-icon img {
  width: 43px;
}

.contact__modal-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 24px;
  position: relative;
  color: #707070;
}

.contact__modal-title::after {
  content: "";
  width: 155px;
  height: 2px;
  background: #3f51b5;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact__modal-content {
  overflow: auto;
  margin-top: 42px;
  height: calc(100% - 148px - 52px);
}

.contact__modal-content > :first-child {
  margin-top: 0;
}

@media (max-width: 1087px) {
  .contact__modal-content {
    margin-top: 60px;
    height: calc(100% - 148px - 52px);
  }
}

@media (max-width: 767px) {
  .contact__modal-content {
    margin-top: 38px;
    height: calc(100% - 128px - 52px);
  }
}

.contact__modal-head {
  font-size: 20px;
  padding: 0 0 0 28px;
  color: #707070;
  position: relative;
  font-weight: bold;
  margin-top: 52px;
}

@media (max-width: 767px) {
  .contact__modal-head {
    margin-top: 32px;
  }
}

.contact__modal-head::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 3px;
  background: #3f51b5;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.contact__modal-text {
  padding: 0 0 0 28px;
  color: #707070;
  line-height: 1.625;
}

.contact__modal-close-button {
  text-align: center;
  margin-top: 24px;
}

.contact__modal-background {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000;
  opacity: 0.3;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}

.contact__modal-background.is-show {
  display: block;
}

.form-input {
  width: 100%;
  border: 1px solid #707070;
  padding: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
}

@media (max-width: 767px) {
  .form-input {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.form-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent url(../img/select-arrow.png) no-repeat center right 18px/24px 15px;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 14px 16px;
  width: 100%;
  border: 1px solid #707070;
}

@media (max-width: 767px) {
  .form-select {
    padding-top: 10px;
    padding-bottom: 10px;
    background-position: center right 10px;
  }
}

.form-select::-ms-expand {
  display: none;
}

.form-textarea {
  width: 100%;
  height: 240px;
  border: 1px solid #707070;
  resize: none;
  padding: 10px 16px;
  line-height: 1.625;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
}

@media (max-width: 767px) {
  .form-textarea {
    height: 180px;
  }
}

.form-radio {
  display: none;
}

.form-radio + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 40px;
  position: relative;
}

.form-radio + span::before, .form-radio + span::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-radio + span::before {
  background: #fff;
  border: 1px solid #707070;
  display: block;
  left: 0;
  width: 30px;
  height: 30px;
}

.form-radio + span::after {
  background: #3f51b5;
  border: 1px solid transparent;
  left: 6px;
  width: 18px;
  height: 18px;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.form-radio:checked + span::after {
  opacity: 1;
}

.form-checkbox {
  display: none;
}

.form-checkbox + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 50px;
  position: relative;
}

@media (max-width: 767px) {
  .form-checkbox + span {
    padding-left: 46px;
  }
}

.form-checkbox + span::before, .form-checkbox + span::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-checkbox + span::before {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  display: block;
  left: 0;
  width: 30px;
  height: 30px;
}

.form-checkbox + span::after {
  border: 1px solid transparent;
  left: 1px;
  width: 28px;
  height: 22px;
  background: transparent url(../img/icon-check.png) no-repeat center center/contain;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.form-checkbox:checked + span::after {
  opacity: 1;
}

.form-button {
  -webkit-appearance: none;
  background: #3f51b5 url(../img/icon-arrow-right.png) no-repeat center right 18px/13px 20px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  min-width: 260px;
  padding: 14px 16px 13px;
  font-size: 22px;
  border-radius: 12px;
  font-weight: bold;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  text-align: center;
}

.form-button:hover {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .form-button {
    min-width: initial;
    max-width: 100%;
    width: 260px;
  }
}

.footer {
  padding: 72px 0 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
  background: linear-gradient(to bottom, #666, #333);
}

@media (max-width: 767px) {
  .footer {
    padding-top: 62px;
    padding-bottom: 24px;
  }
}

.footer__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer__contents {
    display: block;
  }
}

.footer__left {
  width: 35%;
  padding: 0 10px;
}

@media (max-width: 767px) {
  .footer__left {
    width: 100%;
    padding: 0;
  }
}

.footer__center {
  width: 50%;
  padding: 8px 10px 0;
}

@media (max-width: 767px) {
  .footer__center {
    width: 100%;
    margin-top: 52px;
    padding: 0;
  }
}

.footer__right {
  width: 20%;
  padding: 10px 24px;
}

@media (max-width: 1087px) {
  .footer__right {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .footer__right {
    width: 100%;
    margin-top: 24px;
    padding: 0;
  }
}

.footer__logo a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.footer__logo a:hover {
  opacity: 0.6;
}

.footer__logo img {
  width: 200px;
}

.footer__info {
  margin-top: 20px;
  color: #fff;
}

@media (max-width: 767px) {
  .footer__info {
    margin-top: 20px;
    font-size: 14px;
  }
}

.footer__info p {
  margin-top: 0;
  margin-bottom: 12px;
}

@media (max-width: 767px) {
  .footer__info p {
    margin-bottom: 6px;
  }
}

.footer__info p:last-child {
  margin-bottom: 0;
}

.footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__nav ul li {
  margin-right: 30px;
  margin-bottom: 12px;
}

.footer__nav ul li:last-child {
  margin-right: 0;
}

.footer__nav ul li a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: "Lato", sans-serif;
}

.footer__nav ul li a:hover {
  opacity: 0.6;
}

.footer_sns ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .footer_sns ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer_sns ul li {
  margin-right: 16px;
}

.footer_sns ul li:last-child {
  margin-right: 0;
}

.footer_sns ul li a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer_sns ul li a:hover {
  opacity: 0.6;
}

.footer_sns ul li img {
  width: 30px;
}

.footer__copy {
  margin-top: 86px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

@media (max-width: 767px) {
  .footer__copy {
    margin-top: 50px;
  }
}

.totop {
  position: fixed;
  right: 18px;
  bottom: 8px;
  z-index: 100;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .totop {
    right: 10px;
    bottom: 10px;
  }
}

.totop.is-show {
  visibility: visible;
}

.totop a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.totop a:hover {
  opacity: 0.6;
}

.totop img {
  width: 60px;
}

@media (max-width: 767px) {
  .totop img {
    width: 42px;
  }
}
