// -----
// 設定
// -----
// 色
$color-main: #3f51b5; // ベース色
$color-active: #e81919; // アクティブ色
$color-background-base: #fff; // 背景色
$color-text-base: #333; // テキスト色
$hover-opacity: 0.6; // 透過度
// レイアウト幅
$layout-width-canvas: 1366px;
$layout-width-inner: 1088px;
// ブレークポイント
$breakpoints: ( "sp": "(max-width: 767px)", "tab-only": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})", "tab": "(max-width: #{$layout-width-inner - 1px})", "pc": "(min-width: #{$layout-width-inner})", );
// 階層
$layer: ( modal: 100, // モダール
drawer: 40, // ドロワー
floating: 30, // フローティングアイテム
header: 20, // ヘッダー
footer: 10, // フッター
default: 1, );
// 余白
$padding-tab: 24px;
$padding-sp: 16px;
// フォント
$font-family-default: ("游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif); // 標準フォント
$font-family-base: $font-family-default;
$font-size-base: 16px;
$font-weight-base: 400;
$line-height-base: 1.6;
// メディアクエリー
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  color: $color-text-base;
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-background-base;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

// PCだけ非表示
.hidden-pc {
  @include mq('pc') {
    display: none;
  }
}

// タブレットだけ非表示
.hidden-tab {
  @include mq('tab-only') {
    display: none;
  }
}

// スマホだけ非表示
.hidden-sp {
  @include mq('sp') {
    display: none;
  }
}

.inner {
  width: $layout-width-inner;
  max-width: 100%;
  margin: 0 auto;
  @include mq('tab') {
    padding-left: $padding-tab;
    padding-right: $padding-tab;
  }
  @include mq('sp') {
    padding-left: $padding-sp;
    padding-right: $padding-sp;
  }
}

.button {
  display: inline-block;
  background: $color-main;
  color: $color-background-base;
  text-align: center;
  padding: 1em 3em;
  font-size: $font-size-base;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(#000, 0.16);
  cursor: pointer;
  transition: all 0.3s ease 0s;
  &-mainvisual {
    @extend .button;
    transition: all 0.5s ease 0s;
    padding: 12px 80px;
    border-radius: 12px;
    font-size: 38px;
    @include mq('tab') {
      font-size: 30px;
      padding-left: 52px;
      padding-right: 52px;
    }
    @include mq('sp') {
      padding: 10px 36px;
      border-radius: 8px;
      font-size: 20px;
    }
  }
  &-arrow-right {
    @extend .button;
    border-radius: 12px;
    font-size: 20px;
    padding: 13px 58px 12px;
    @include mq('tab') {
      padding-left: 50px;
      padding-right: 50px;
    }
    @include mq('sp') {
      padding: 10px 36px;
      border-radius: 8px;
      font-size: 18px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 18px;
      width: 13px;
      height: 20px;
      background: transparent url(../img/icon-arrow-right.png) no-repeat center center / contain;
      @include mq('sp') {
        right: 10px;
        width: (13px * 0.92);
        height: (20px * 0.92);
      }
    }
  }
}

.section-title {
  font-size: 60px;
  font-weight: bold;
  padding: 0 0 28px;
  margin: 0;
  position: relative;
  text-align: center;
  &::after {
    background: $color-main;
    width: 76px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    @include mq('sp') {
      width: 48px;
    }
  }
  @include mq('tab') {
    font-size: 50px;
    padding-bottom: 28px;
  }
  @include mq('sp') {
    font-size: 42px;
    padding-bottom: 16px;
  }
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  background: $color-main 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 30px 0;
  z-index: map-get($layer, 'header');
  @include mq('sp') {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin: 0;
    line-height: 1;
    img {
      width: 200px;
      vertical-align: top;
      @include mq('tab') {
        width: 180px;
      }
      @include mq('sp') {
        width: 148px;
      }
    }
    a {
      text-decoration: none;
      transition: all 0.3s ease 0s;
    }
  }
  &__nav {
    margin-left: auto;
    @include mq('sp') {
      display: none;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      li {
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
        a {
          transition: all 0.3s ease 0s;
          text-decoration: none;
          color: $color-background-base;
          display: block;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 100%;
            height: 3px;
            background: $color-active;
            opacity: 0;
            transition: all 0.3s ease 0s;
          }
          &.is-active {
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.mainvisual {
  height: 700px;
  width: 100%;
  background: transparent url(../img/mainvisual.png) no-repeat top center/cover;
  position: relative;
  overflow: hidden;
  @include mq('tab') {
    height: 600px;
  }
  @include mq('sp') {
    height: 500px;
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
    width: 100%;
    text-align: center;
    @include mq('tab') {
      padding-left: $padding-tab;
      padding-right: $padding-tab;
      margin-top: 40px;
    }
    @include mq('sp') {
      padding-left: $padding-sp;
      padding-right: $padding-sp;
      margin-top: 30px;
    }
  }
  &__title {
    font-size: 68px;
    font-weight: 700;
    line-height: 1.4;
    @include mq('tab') {
      font-size: 56px;
    }
    @include mq('sp') {
      font-size: 36px;
    }
  }
  &__lead {
    font-size: 38px;
    font-weight: 700;
    margin-top: 3px;
    @include mq('tab') {
      font-size: 30px;
    }
    @include mq('sp') {
      font-size: 20px;
    }
  }
  &__button {
    margin-top: 78px;
    @include mq('tab') {
      margin-top: 62px;
    }
    @include mq('sp') {
      margin-top: 42px;
    }
  }
}

.card {
  background: #efefef;
  padding: 56px 0 142px;
  @include mq('sp') {
    padding-top: 36px;
    padding-bottom: 80px;
  }
  &__inner {}
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 58px;
    @include mq('sp') {
      margin-top: 30px;
    }
  }
  &__item {
    width: calc(33.33333333% - 30px * 2 / 3);
    margin-right: 30px;
    margin-top: 20px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    @include mq('tab') {
      width: calc(50% - 24px / 2);
      margin-right: 24px;
      &:nth-child(3n) {
        margin-right: 24px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  @include mq('sp') {
    width: 100%;
    margin-right: 0;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.media {
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  display: block;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  &__img {
    text-align: center;
    img {
      vertical-align: bottom;
    }
  }
  &__body {
    padding: 22px 0;
  }
  &__title {
    font-weight: bold;
    font-size: 20px;
    color: #6f7579;
  }
  &__content {
    font-weight: bold;
    color: #6f7579;
    margin-top: 14px;
    line-height: (24 / 16);
  }
}

.news {
  padding: 56px 0 32px;
  &__inner {}
  &__items {
    margin: 70px auto 0;
    width: 844px;
    max-width: 100%;
    @include mq('sp') {
      margin-top: 38px;
    }
  }
  &__item {
    border-bottom: 1px solid #707070;
    &:last-child {
      border: none;
    }
  }
  &__link {
    text-align: center;
    margin-top: 14px;
    a {
      text-decoration: none;
      color: $color-active;
      transition: all 0.3s ease 0s;
      font-weight: bold;
      &::after {
        content: "";
        width: 7px;
        height: 11px;
        display: inline-block;
        margin-left: 6px;
        vertical-align: middle;
        margin-top: -1;
        background: transparent url(../img/pagenation-right.png) no-repeat center center / contain;
      }
    }
  }
}

.info {
  padding: 16px 6px;
  display: flex;
  @include mq('sp') {
    display: block;
    padding: 12px 0;
  }
  &__meta {
    display: flex;
    width: (115px + 130px);
    padding-top: 2px;
    @include mq('sp') {
      width: 100%;
      padding-top: 0;
    }
  }
  &__published {
    width: 115px;
    display: inline-block;
    padding-top: 3px;
    @include mq('sp') {
      width: auto;
    }
  }
  &__label {
    width: 130px;
    @include mq('sp') {
      width: auto;
      margin-left: auto;
    }
    a {
      display: inline-block;
      color: #fff;
      font-weight: bold;
      text-align: center;
      padding: 3px 18px;
      background-color: #666;
      border-radius: 6px;
      text-decoration: none;
      transition: all 0.3s ease 0s;
    }
    &--type01 {
      a {
        background-color: #3F51B5;
        text-decoration: none;
      }
    }
    &--type02 {
      a {
        background-color: #E81919;
      }
    }
  }
  &__title {
    line-height: (26 / 16);
    width: calc(100% - 115px - 130px);
    @include mq('sp') {
      width: 100%;
      margin-top: 6px;
    }
    a {
      text-decoration: none;
      color: $color-text-base;
      transition: all 0.3s ease 0s;
    }
  }
}

.table {
  padding: 50px 0 100px;
  background: #efefef;
  @include mq('sp') {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  &__inner {}
  &__content {
    margin-top: 78px;
    display: flex;
    @include mq('sp') {
      display: block;
      margin-top: 52px;
    }
  }
  &__image {
    width: 360px;
    margin-right: 122px;
    text-align: center;
    @include mq('tab') {
      margin-right: 62px;
    }
    @include mq('sp') {
      width: 100%;
      margin-top: 0;
      margin-bottom: 32px;
    }
    img {
      width: 360px;
    }
  }
  &__price {
    width: 608px;
    @include mq('sp') {
      width: 100%;
    }
  }
  &-default {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #707070;
    background: #fff;
    table-layout: fixed;
  }
  th,
  td {
    padding: 12px 16px;
    border: 1px solid #707070;
    vertical-align: middle;
    line-height: 1.5;
  }
  th {
    text-align: center;
    background: #999;
    font-weight: bold;
    color: #fff;
    &:first-child {
      width: 158px;
      @include mq('tab') {
        width: 100px;
      }
      @include mq('sp') {
        width: 80px;
      }
    }
  }
  td {
    text-align: right;
  }
  &__attention {
    margin-top: 16px;
    a {
      color: $color-text-base;
      transition: all 0.3s ease 0s;
    }
  }
}

.map {
  padding: 60px 88px;
  @include mq('sp') {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  &__inner {}
  &__iframe {
    width: 800px;
    max-width: 100%;
    margin: 102px auto 0;
    @include mq('sp') {
      margin-top: 60px;
    }
    &-wrap {
      width: 100%;
      padding-top: 400 / 800 * 100%;
      position: relative;
      >iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }
  &__info {
    margin: 30px auto 0;
    padding: 0 34px;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    max-width: 100%;
    @include mq('sp') {
      padding-left: 0;
      padding-right: 0;
      margin-top: 20px;
    }
    dt,
    dd {
      padding: 6px;
      margin: 0;
      @include mq ('sp') {
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
    dt {
      width: 118px;
      @include mq('sp') {
        width: 92px;
      }
    }
    dd {
      width: calc(100% - 118px);
      @include mq('sp') {
        width: calc(100% - 92px);
      }
    }
  }
  &__link {
    text-align: center;
    margin: 30px 0;
  }
}

.contact {
  padding: 56px 0 124px;
  background: #efefef;
  @include mq('sp') {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  &__inner {}
  &__item {
    margin: 48px auto 0;
    padding: 58px 48px 60px;
    background: #fff;
    width: 800px;
    max-width: 100%;
    @include mq('sp') {
      padding: 24px 16px;
      margin-top: 26px;
    }
  }
  &__controls {
    margin: 0;
  }
  &__control {
    margin-bottom: 52px;
    display: flex;
    @include mq('sp') {
      display: block;
      margin-bottom: 24px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    dt {
      width: 180px;
      padding: 14px 0 0;
      margin: 0;
      @include mq('sp') {
        width: 100%;
        padding-top: 0;
      }
    }
    dd {
      flex-grow: 1;
      padding: 0;
      margin: 0;
      @include mq('sp') {
        width: 100%;
        margin-top: 8px;
      }
    }
  }
  &__label {
    font-size: 18px;
    font-weight: bold;
    @include mq('sp') {
      font-size: 16px;
      display: inline-block;
    }
    &--required {
      position: relative;
      @include mq('sp') {
        padding-right: 54px;
      }
      &::after {
        content: "必須";
        position: absolute;
        background: $color-active;
        border-radius: 12px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        padding: 1px 8px;
        width: 46px;
        display: block;
        top: calc(100% + 6px);
        left: 0;
        @include mq('sp') {
          top: 50%;
          left: auto;
          right: 0;
          transform: translateY(-50%);
        }
      }
    }
  }
  &__radio {
    margin-top: 40px;
    padding: 0 10px;
    @include mq('sp') {
      margin-top: 26px;
    }
    &-item {
      margin-right: 26px;
      &:last-child {
        margin-right: 0;
      }
      @include mq('sp') {
        margin-bottom: 16px;
        margin-right: 0;
        display: block;
      }
    }
  }
  &__check {
    margin-top: 46px;
    text-align: center;
    @include mq('sp') {
      margin-top: 24px;
    }
    a {
      color: $color-text-base;
      transition: all 0.3s ease 0s;
    }
  }
  &__submit {
    margin-top: 30px;
    text-align: center;
  }
}

.form {
  &-input {
    width: 100%;
    border: 1px solid #707070;
    padding: 16px;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    @include mq('sp') {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  &-select {
    appearance: none;
    background: transparent url(../img/select-arrow.png) no-repeat center right 18px / 24px 15px;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    padding: 14px 16px;
    width: 100%;
    border: 1px solid #707070;
    @include mq('sp') {
      padding-top: 10px;
      padding-bottom: 10px;
      background-position: center right 10px;
    }
    &::-ms-expand {
      display: none;
    }
  }
  &-textarea {
    width: 100%;
    height: 240px;
    border: 1px solid #707070;
    resize: none;
    padding: 10px 16px;
    line-height: (26 / 16);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    @include mq('sp') {
      height: 180px;
    }
  }
  &-radio {
    display: none;
    +span {
      cursor: pointer;
      display: inline-block;
      padding: 0 0 0 40px;
      position: relative;
      &::before,
      &::after {
        content: "";
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        background: #fff;
        border: 1px solid #707070;
        display: block;
        left: 0;
        width: 30px;
        height: 30px;
      }
      &::after {
        background: $color-main;
        border: 1px solid transparent;
        left: 6px;
        width: 18px;
        height: 18px;
        transition: opacity 0.3s ease 0s;
        opacity: 0;
      }
    }
    &:checked {
      +span {
        &::after {
          opacity: 1;
        }
      }
    }
  }
  &-checkbox {
    display: none;
    +span {
      cursor: pointer;
      display: inline-block;
      padding: 0 0 0 50px;
      position: relative;
      @include mq('sp') {
        padding-left: 46px;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.16);
        display: block;
        left: 0;
        width: 30px;
        height: 30px;
      }
      &::after {
        border: 1px solid transparent;
        left: 1px;
        width: 28px;
        height: 22px;
        background: transparent url(../img/icon-check.png) no-repeat center center / contain;
        transition: opacity 0.3s ease 0s;
        opacity: 0;
      }
    }
    &:checked {
      +span {
        &::after {
          opacity: 1;
        }
      }
    }
  }
  &-button {
    -webkit-appearance: none;
    background: $color-main url(../img/icon-arrow-right.png) no-repeat center right 18px / 13px 20px;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    min-width: 260px;
    padding: 14px 16px 13px;
    font-size: 22px;
    border-radius: 12px;
    font-weight: bold;
    transition: opacity 0.3s ease 0s;
    text-align: center;
    @include mq('sp') {
      min-width: initial;
      max-width: 100%;
      width: 260px;
    }
  }
}