// -----
// 設定
// -----
// 色
$color-main: #3f51b5; // ベース色
$color-active: #e81919; // アクティブ色
$color-background-base: #fff; // 背景色
$color-text-base: #333; // テキスト色
$hover-opacity: 0.6; // 透過度
// レイアウト幅
$layout-width-canvas: 1366px;
$layout-width-inner: 1088px;
// ブレークポイント
$breakpoints: ( "sp": "(max-width: 767px)", "tab-only": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})", "tab": "(max-width: #{$layout-width-inner - 1px})", "pc": "(min-width: #{$layout-width-inner})", );
// 階層
$layer: ( modal: 100, // モダール
drawer: 40, // ドロワー
floating: 30, // フローティングアイテム
header: 20, // ヘッダー
footer: 10, // フッター
default: 1, );
// 余白
$padding-tab: 24px;
$padding-sp: 16px;
// Googleフォント
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&subset=japanese&display=swap');
// フォント
$font-family-default: ("游ゴシック体",
"Yu Gothic",
yugothic,
"ヒラギノ角ゴ Pro",
"Hiragino Kaku Gothic Pro",
"メイリオ",
meiryo,
"MS Pゴシック",
"MS PGothic",
sans-serif); // 標準フォント
$font-family-english: 'Lato',
sans-serif; // 英語フォント
$font-family-japanese: 'Noto Sans JP',
sans-serif; // 日本語フォント
$font-family-base: $font-family-japanese;
$font-size-base: 16px;
$font-weight-base: 400;
$line-height-base: 1.6;
// メディアクエリー
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ハンバーガーアイコン
$drawer-bar-space: 5px;
$drawer-bar-width: 28px;
$drawer-bar-height: 4px;
$drawer-content-width: 200px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  color: $color-text-base;
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-background-base;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

// PCだけ非表示
.hidden-pc {
  @include mq('pc') {
    display: none;
  }
}

// タブレットだけ非表示
.hidden-tab {
  @include mq('tab-only') {
    display: none;
  }
}

// スマホだけ非表示
.hidden-sp {
  @include mq('sp') {
    display: none;
  }
}

.inner {
  width: $layout-width-inner;
  max-width: 100%;
  margin: 0 auto;
	height: inherit;
  @include mq('tab') {
    padding-left: $padding-tab;
    padding-right: $padding-tab;
  }
  @include mq('sp') {
    padding-left: $padding-sp;
    padding-right: $padding-sp;
  }
}

.button {
  display: inline-block;
  background: $color-main;
  color: $color-background-base;
  text-align: center;
  padding: 1em 3em;
  font-size: $font-size-base;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(#000, 0.16);
  cursor: pointer;
  transition: all 0.3s ease 0s;
  &-mainvisual {
    @extend .button;
    transition: all 0.5s ease 0s;
    padding: 12px 80px;
    border-radius: 12px;
    font-size: 38px;
    @include mq('tab') {
      font-size: 30px;
      padding-left: 52px;
      padding-right: 52px;
    }
    @include mq('sp') {
      padding: 10px 36px;
      border-radius: 8px;
      font-size: 20px;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  &-arrow-right {
    @extend .button;
    border-radius: 12px;
    font-size: 20px;
    padding: 13px 58px 12px;
    position: relative;
    @include mq('tab') {
      padding-left: 50px;
      padding-right: 50px;
    }
    @include mq('sp') {
      padding: 10px 36px;
      border-radius: 8px;
      font-size: 18px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 18px;
      width: 13px;
      height: 20px;
      background: transparent url(../img/icon-arrow-right.png) no-repeat center center / contain;
      @include mq('sp') {
        right: 10px;
        width: (13px * 0.92);
        height: (20px * 0.92);
      }
    }
    &:hover {
      opacity: $hover-opacity;
    }
  }
  &-modal {
    @extend .button;
    border-radius: 12px;
    width: 180px;
    padding-top: 8px;
    padding-bottom: 8px;
    &:hover {
      opacity: $hover-opacity;
    }
  }
  &-tel {
    @extend .button;
    padding: 10px 26px;
    font-size: 18px;
    border-radius: 8px;
    background: $color-active;
    @include mq('tab') {
      font-size: 16px;
    }
    @include mq('sp') {
      padding: 4px 18px;
      border-radius: 6px;
    }
  }
}

.section-title {
  font-size: 60px;
  font-weight: bold;
  padding: 0 0 28px;
  margin: 0;
  position: relative;
  text-align: center;
  font-family: $font-family-english;
  &::after {
    content: "";
    background: $color-main;
    width: 76px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    @include mq('sp') {
      width: 48px;
    }
  }
  @include mq('tab') {
    font-size: 50px;
    padding-bottom: 28px;
  }
  @include mq('sp') {
    font-size: 42px;
    padding-bottom: 16px;
  }
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: $color-main 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 30px 0;
  z-index: map-get($layer, 'header');
  @include mq('sp') {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin: 0;
    line-height: 1;
    img {
      width: 200px;
      vertical-align: top;
      @include mq('tab') {
        width: 180px;
      }
      @include mq('sp') {
        width: 148px;
      }
    }
    a {
      text-decoration: none;
      transition: all 0.3s ease 0s;
      &:hover {
        opacity: $hover-opacity;
      }
    }
  }
  &__nav {
    margin-left: auto;
    @include mq('sp') {
      display: none;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      li {
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
        a {
          transition: all 0.3s ease 0s;
          text-decoration: none;
          color: $color-background-base;
          display: block;
          position: relative;
          font-family: $font-family-english;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 100%;
            height: 3px;
            background: $color-active;
            opacity: 0;
            transition: all 0.3s ease 0s;
          }
          &:hover,
          &.is-active {
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  &__contact {
    margin-left: auto;
    @include mq('sp') {
      display: none;
    }
    &-button {}
    &-time {
      margin-top: 3px;
      font-size: 14px;
      color: $color-background-base;
      @include mq('tab') {
        font-size: 12px;
      }
    }
  }
}

.tab {
  padding: 56px 0 142px;
  @include mq('sp') {
    padding-top: 36px;
    padding-bottom: 100px;
  }
  &__inner {}
  &__nav {
    margin-top: 80px;
    overflow: auto;
    border-bottom: 3px solid $color-main;
    @include mq('sp') {
      border-width: 2px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      li {
        a,span {
          text-decoration: none;
          color: $color-text-base;
          border: 3px solid $color-main;
          border-radius: 12px 12px 0 0;
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          width: 200px;
          max-width: 100%;
          display: block;
          border-bottom: none;
          padding: 20px;
          transition: all 0.3s ease 0s;
          cursor: pointer;
          @include mq('tab') {
            width: 160px;
          }
          @include mq('sp') {
            width: 120px;
            border-width: 2px;
            padding: 12px;
          }
          &:hover {
            color: #fff;
            background: $color-main;
          }
          &.is-active {
            font-size: 20px;
            width: 260px;
            padding-top: 20px;
            padding-bottom: 24px;
            color: #fff;
            background: $color-main;
            @include mq('tab') {
              width: 200px;
            }
            @include mq('sp') {
              width: 150px;
              padding: 16px;
            }
          }
        }
      }
    }
  }
  &__content {}
  &-item {
    padding: 52px 20px;
    display: none;
    &.is-active {
      display: block;
    }
    &__lead {
      text-align: center;
      span {
        font-size: 20px;
        font-weight: bold;
        padding: 0 30px;
        display: inline-block;
        position: relative;
        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 3px;
          height: 32px;
          background: $color-main;
          top: 50%;
          transform: translateY(-50%);
        }
        &::before {
          left: 0;
          transform: translateY(-50%) rotate(-10deg);
        }
        &::after {
          right: 0;
          transform: translateY(-50%) rotate(10deg);
        }
      }
    }
    &__body {
      display: flex;
      margin-top: 50px;
      @include mq('sp') {
        display: block;
      }
    }
    &__img {
      width: 50%;
      img {
        width: 464px;
      }
      @include mq('sp') {
        width: 100%;
        text-align: center;
      }
    }
    &__content {
      width: 50%;
      margin-left: auto;
      padding: 26px 28px 20px;
      @include mq('tab') {
        padding-right: 0;
      }
      @include mq('sp') {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }
    &__title {
      font-size: 18px;
      font-weight: bold;
    }
    &__info {
      margin-top: 24px;
      line-height: (26 / 16);
    }
    &__link {
      text-align: center;
      margin-top: 24px;
    }
  }
}

.drawer-icon {
  display: none;
  position: fixed;
  right: 10px;
  top: 16px;
  z-index: map-get($layer, "drawer") + 1;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  &.is-checked {
    transform: translateX(-$drawer-content-width);
  }
  @include mq('sp') {
    display: block;
  }
}

.drawer-bars {
  display: inline-block;
  width: $drawer-bar-width;
  height: $drawer-bar-height + ($drawer-bar-space + $drawer-bar-height) * 2;
  position: relative;
  vertical-align: bottom;
}

.drawer-bar {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  background-color: #fff;
  width: 100%;
  height: $drawer-bar-height;
  border-radius: 0;
  transition: all 0.3s linear 0s;
  &:nth-of-type(1) {
    top: 0;
  }
  &:nth-of-type(2) {
    top: $drawer-bar-space + $drawer-bar-height;
  }
  &:nth-of-type(3) {
    top: ($drawer-bar-space + $drawer-bar-height) * 2;
  }
  .is-checked & {
    &:nth-of-type(1) {
      top: 10px;
      transform: rotate(-45deg);
    }
    &:nth-of-type(2) {
      background: transparent;
    }
    &:nth-of-type(3) {
      top: 10px;
      transform: rotate(45deg);
    }
  }
}

.drawer-background {
	display: none;
	position: fixed;
	z-index: map-get($layer, "drawer") - 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	transition: all 0.5s ease 0s;

	&.is-checked {
		display: block;
		opacity: 0.8;
	}
}

.drawer-content {
	overflow: auto;
	position: fixed;
	top: 0;
	right: 0;
	bottom: auto;
	left: auto;
	transform: translateX(105%);
	z-index: map-get($layer, "drawer");
	width: $drawer-content-width;
	max-width: 90%;
	height: 100%;
	background: #fff;
	transition: all 0.5s ease 0s;
	text-align: left;
	color: #707070;

	&.is-checked {
		transform: translateX(0);
		box-shadow: 6px 0 25px rgba(#000, 0.16);
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			border-bottom: 1px dotted #707070;

			a {
				text-decoration: none;
				display: block;
				position: relative;
				padding: 13px 30px 12px 20px;
				color: #707070;

				&::after {
					content: "";
					position: absolute;
					right: 20px;
					top: 50%;
					transform: translateY(-50%);
					width: 7px;
					height: 11px;
					background: transparent url(../img/drawer-arrow-right.png) no-repeat center center / contain;
				}
			}
		}
	}
}

.mainvisual {
  height: 700px;
  width: 100%;
  position: relative;
  background: transparent url(../img/mainvisual.png) no-repeat top center/cover;
  overflow: hidden;
  @include mq('tab') {
    height: 600px;
  }
  @include mq('sp') {
    height: 500px;
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
    width: 100%;
    text-align: center;
    @include mq('tab') {
      padding-left: $padding-tab;
      padding-right: $padding-tab;
      margin-top: 40px;
    }
    @include mq('sp') {
      padding-left: $padding-sp;
      padding-right: $padding-sp;
      margin-top: 30px;
    }
  }
  &__title {
    font-size: 68px;
    font-weight: 700;
    line-height: 1.4;
    @include mq('tab') {
      font-size: 56px;
    }
    @include mq('sp') {
      font-size: 36px;
    }
  }
  &__lead {
    font-size: 38px;
    font-weight: 700;
    margin-top: 3px;
    @include mq('tab') {
      font-size: 30px;
    }
    @include mq('sp') {
      font-size: 20px;
    }
  }
  &__button {
    margin-top: 78px;
    @include mq('tab') {
      margin-top: 62px;
    }
    @include mq('sp') {
      margin-top: 42px;
    }
  }
}

.blog {
  background: #efefef;
  padding: 56px 0 142px;
  @include mq('sp') {
    padding-top: 36px;
    padding-bottom: 100px;
  }
  &__inner {}
  &__items {
    margin-top: 94px;
  }
  &__item {
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
  &-card {
    border: 1px solid #707070;
    border-radius: 6px;
    background: #fff;
    display: flex;
    padding: 22px 22px 24px;
    @include mq('sp') {
      display: block;
    }
    &__img {
      width: 372 / 1088 * 100%;
      @include mq('sp') {
        width: 100%;
      }
    }
    &__body {
      width: (1088 - 372) / 1088 * 100%;
      position: relative;
      padding: 4px 0 38px 58px;
      @include mq('tab') {
        padding-left: 30px;
      }
      @include mq('sp') {
        padding-left: 0;
        padding-top: 24px;
        width: 100%;
      }
    }
    &__meta {
      display: flex;
      align-items: center;
    }
    &__label {
      span, a {
        display: inline-block;
        background: $color-main;
        color: $color-background-base;
        font-weight: bold;
        border-radius: 2px;
        padding: 4px 10px;
        box-shadow: 0 3px 6px rgba(#000, 0.16);
        font-size: 12px;
        text-decoration: none;
        text-align: center;
        min-width: 92px;
      }
      a {
        transition: all 0.3s ease 0s;
      }
    }
    &__title {
      margin-top: 20px;
      font-size: 20px;
      font-weight: bold;
    }
    &__content {
      margin-top: 14px;
      color: #999;
      font-size: 14px;
      font-weight: bold;
      line-height: (22 / 14);
    }
    &__link {
      position: absolute;
      right: 0;
      bottom: 0;
      a {
        font-weight: bold;
        font-size: 14px;
        color: #999;
        transition: all 0.3s ease 0s;
        &:hover {
          opacity: $hover-opacity;
        }
      }
    }
  }
  &-published {
    margin-left: auto;
    line-height: 1;
  }
}

.swiper-slide {
  position: relative;
  height: 700px;
  width: 100%;
  @include mq('tab') {
    height: 600px;
  }
  @include mq('sp') {
    height: 500px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 75px;
  height: 75px;
  transition: all 0.3s ease 0s;
  margin: -36px 0 0;
  z-index: 3;
  &:hover {
    opacity: $hover-opacity;
  }
  @include mq('sp') {
    width: 42px;
    height: 42px;
  }
  &::after {
    content: "";
  }
}

.swiper-button-prev {
  background: transparent url(../img/slide-arrow-left.png) no-repeat center center / contain;
  left: calc(50% - #{$layout-width-inner / 2} + 16px);
  @include mq('tab') {
    left: 24px;
  }
  @include mq('sp') {
    left: 4px;
  }
}

.swiper-button-next {
  background: transparent url(../img/slide-arrow-right.png) no-repeat center center / contain;
  right: calc(50% - #{$layout-width-inner / 2} + 16px);
  @include mq('tab') {
    right: 24px;
  }
  @include mq('sp') {
    right: 4px;
  }
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #fff;
  opacity: 1;
  @include mq('sp') {
    width: 8px;
    height: 8px;
  }
}

.swiper-pagination-bullet-active {
  background: #2f7dc8;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 18px;
  z-index: 2;
  .swiper-pagination-bullet {
    margin-left: 6px;
    margin-right: 6px;
  }
}

.card {
  background: #efefef;
  padding: 56px 0 142px;
  @include mq('sp') {
    padding-top: 36px;
    padding-bottom: 80px;
  }
  &__inner {}
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 58px;
    @include mq('sp') {
      margin-top: 30px;
    }
  }
  &__item {
    width: calc(33.33333333% - 30px * 2 / 3);
    margin-right: 30px;
    margin-top: 20px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    @include mq('tab') {
      width: calc(50% - 24px / 2);
      margin-right: 24px;
      &:nth-child(3n) {
        margin-right: 24px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  @include mq('sp') {
    width: 100%;
    margin-right: 0;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.media {
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  display: block;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  &:hover {
    opacity: $hover-opacity;
  }
  &__img {
    text-align: center;
    position: relative;
    img {
      vertical-align: bottom;
    }
  }
  &__label {
    position: absolute;
    top: 0;
    right: 0;
    span, a {
      display: inline-block;
      background: $color-main;
      color: #fff;
      font-weight: bold;
      padding: 4px 10px;
      font-size: 12px;
      text-decoration: none;
      text-align: center;
      box-shadow: none;
      border-radius: 0;
      min-width: 96px;
    }
    a {
      transition: all 0.3s ease 0s;
    }
  }
  &__body {
    padding: 22px 0;
  }
  &__title {
    font-weight: bold;
    font-size: 20px;
    color: #6f7579;
  }
  &__content {
    font-weight: bold;
    color: #6f7579;
    margin-top: 14px;
    line-height: (24 / 16);
  }
}

.voice {
  background: #efefef;
  padding: 56px 0 142px;
  @include mq('sp') {
    padding-top: 36px;
    padding-bottom: 100px;
  }
  &__inner {}
  &__items {
    margin-top: 82px;
    @include mq('sp') {
      margin-top: 52px;
    }
  }
  &__item {
    margin-top: 40px;
    &:first-child {
      margin-top: 0;
    }
  }
  &-card {
    display: flex;
    background: #fff;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
    @include mq('sp') {
      display: block;
    }
    &--reverse {
      flex-direction: row-reverse;
    }
    &__img {
      width: 50%;
      @include mq('sp') {
        width: 100%;
      }
      img {
        vertical-align: top;
      }
    }
    &__body {
      width: 50%;
      padding: 18px 34px 58px;
      color: #6f7579;
      position: relative;
      @include mq('sp') {
        width: 100%;
        padding: 22px 16px;
      }
    }
    &__lead {
      font-weight: bold;
      font-size: 22px;
    }
    &__content {
      margin-top: 8px;
      line-height: (24 / 16);
    }
    &__auther {
      position: absolute;
      right: 24px;
      bottom: 28px;
      @include mq('tab') {
        bottom: 20px;
      }
      @include mq('sp') {
        position: static;
        margin-top: 16px;
        text-align: right;
      }
    }
  }
}

.news {
  padding: 56px 0 32px;
  &__inner {}
  &__items {
    margin: 70px auto 0;
    width: 844px;
    max-width: 100%;
    @include mq('sp') {
      margin-top: 38px;
    }
  }
  &__item {
    border-bottom: 1px solid #707070;
    &:last-child {
      border: none;
    }
  }
  &__link {
    text-align: center;
    margin-top: 14px;
    a {
      text-decoration: none;
      color: $color-active;
      font-family: $font-family-english;
      transition: all 0.3s ease 0s;
      font-weight: bold;
      &::after {
        content: "";
        width: 7px;
        height: 11px;
        display: inline-block;
        margin-left: 6px;
        vertical-align: middle;
        margin-top: -1;
        background: transparent url(../img/news-arrow.png) no-repeat center center / contain;
      }
      &:hover {
        opacity: $hover-opacity;
      }
    }
  }
}

.info {
  padding: 16px 6px;
  display: flex;
  @include mq('sp') {
    display: block;
    padding: 12px 0;
  }
  &__meta {
    display: flex;
    width: (115px + 130px);
    padding-top: 2px;
    @include mq('sp') {
      width: 100%;
      padding-top: 0;
    }
  }
  &__published {
    width: 115px;
    font-family: $font-family-english;
    display: inline-block;
    padding-top: 3px;
    @include mq('sp') {
      width: auto;
    }
  }
  &__label {
    width: 130px;
    @include mq('sp') {
      width: auto;
      margin-left: auto;
    }
    a {
      display: inline-block;
      color: #fff;
      font-weight: bold;
      text-align: center;
      padding: 3px 18px;
      background-color: #666;
      border-radius: 6px;
      text-decoration: none;
      transition: all 0.3s ease 0s;
      &:hover {
        opacity: $hover-opacity;
      }
    }
    &--type01 {
      a {
        background-color: #3F51B5;
        text-decoration: none;
      }
    }
    &--type02 {
      a {
        background-color: #E81919;
        text-decoration: none;
      }
    }
  }
  &__title {
    line-height: (26 / 16);
    width: calc(100% - 115px - 130px);
    @include mq('sp') {
      width: 100%;
      margin-top: 6px;
    }
    a {
      text-decoration: none;
      color: $color-text-base;
      transition: all 0.3s ease 0s;
      &:hover {
        opacity: $hover-opacity;
      }
    }
  }
}

.table {
  padding: 50px 0 100px;
  background: #efefef;
  @include mq('sp') {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  &__inner {}
  &__content {
    margin-top: 78px;
    display: flex;
    @include mq('sp') {
      display: block;
      margin-top: 52px;
    }
  }
  &__image {
    width: 360px;
    margin-right: 122px;
    text-align: center;
    @include mq('tab') {
      margin-right: 62px;
    }
    @include mq('sp') {
      width: 100%;
      margin-top: 0;
      margin-bottom: 32px;
    }
    img {
      width: 360px;
    }
  }
  &__price {
    width: 608px;
    @include mq('sp') {
      width: 100%;
    }
  }
  &-default {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #707070;
    background: #fff;
    table-layout: fixed;
  }
  th,
  td {
    padding: 12px 16px;
    border: 1px solid #707070;
    vertical-align: middle;
    line-height: 1.5;
  }
  th {
    text-align: center;
    background: #999;
    font-weight: bold;
    color: #fff;
    font-family: $font-family-english;
    &:first-child {
      width: 158px;
      @include mq('tab') {
        width: 100px;
      }
      @include mq('sp') {
        width: 80px;
      }
    }
  }
  td {
    text-align: right;
  }
  &__attention {
    margin-top: 16px;
    a {
      color: $color-text-base;
      transition: all 0.3s ease 0s;
      &:hover {
        opacity: $hover-opacity;
      }
    }
  }
}

.map {
  padding: 60px 88px;
  @include mq('sp') {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  &__inner {}
  &__iframe {
    width: 800px;
    max-width: 100%;
    margin: 102px auto 0;
    @include mq('sp') {
      margin-top: 60px;
    }
    &-wrap {
      width: 100%;
      padding-top: 400 / 800 * 100%;
      position: relative;
      >iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }
  &__info {
    margin: 30px auto 0;
    padding: 0 34px;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    max-width: 100%;
    @include mq('sp') {
      padding-left: 0;
      padding-right: 0;
      margin-top: 20px;
    }
    dt,
    dd {
      padding: 6px;
      margin: 0;
      @include mq ('sp') {
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
    dt {
      width: 118px;
      @include mq('sp') {
        width: 92px;
      }
    }
    dd {
      width: calc(100% - 118px);
      @include mq('sp') {
        width: calc(100% - 92px);
      }
    }
  }
  &__link {
    text-align: center;
    margin: 30px 0;
  }
}

.qa {
  padding: 56px 0 142px;
  @include mq('sp') {
    padding: 36px;
    padding-bottom: 100px;
  }
  &__inner {}
  &__items {
    margin: 92px auto 0;
    width: 900px;
    max-width: 100%;
  }
  &__item {
    margin-bottom: 28px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.accordion {
  &__head {
    margin: 0;
    background: $color-main;
    color: #fff;
    padding: 16px 56px;
    position: relative;
    cursor: pointer;
    &::before {
      content: "Q";
      position: absolute;
      font-weight: 700;
      color: #fff;
      left: 22px;
      top: 18px;
    }
  }
  &__body {
    margin: 0;
    background: #fff;
    display: none;
    border: 1px solid $color-main;
  }
  &__body-in {
    padding: 20px 56px 30px;
    line-height: (29 / 18);
    color: $color-main;
    position: relative;
    font-size: 18px;
    @include mq('sp') {
      padding-right: 22px;
    }
    &::before {
      content: "A";
      position: absolute;
      left: 22px;
      top: 24px;
      font-weight: bold;
    }
  }
  &__icon {
    width: 16px;
    height: 16px;
    background: transparent url(../img/icon-plus.png) no-repeat center center / contain;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    &.is-open {
      background-image: url(../img/icon-minus.png);
    }
  }
}

.contact {
  padding: 56px 0 124px;
  background: #efefef;
  @include mq('sp') {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  &__inner {}
  &__item {
    margin: 48px auto 0;
    padding: 58px 48px 60px;
    background: #fff;
    width: 800px;
    max-width: 100%;
    @include mq('sp') {
      padding: 24px 16px;
      margin-top: 26px;
    }
  }
  &__controls {
    margin: 0;
  }
  &__control {
    margin-bottom: 52px;
    display: flex;
    @include mq('sp') {
      display: block;
      margin-bottom: 24px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    dt {
      width: 180px;
      padding: 14px 0 0;
      margin: 0;
      @include mq('sp') {
        width: 100%;
        padding-top: 0;
      }
    }
    dd {
      flex-grow: 1;
      padding: 0;
      margin: 0;
      @include mq('sp') {
        width: 100%;
        margin-top: 8px;
      }
    }
  }
  &__label {
    font-size: 18px;
    font-weight: bold;
    @include mq('sp') {
      font-size: 16px;
      display: inline-block;
    }
    &--required {
      position: relative;
      @include mq('sp') {
        padding-right: 54px;
      }
      &::after {
        content: "必須";
        position: absolute;
        background: $color-active;
        border-radius: 12px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        padding: 1px 8px;
        width: 46px;
        display: block;
        top: calc(100% + 6px);
        left: 0;
        @include mq('sp') {
          top: 50%;
          left: auto;
          right: 0;
          transform: translateY(-50%);
        }
      }
    }
  }
  &__radio {
    margin-top: 40px;
    padding: 0 10px;
    @include mq('sp') {
      margin-top: 26px;
    }
    &-item {
      margin-right: 26px;
      &:last-child {
        margin-right: 0;
      }
      @include mq('sp') {
        margin-bottom: 16px;
        margin-right: 0;
        display: block;
      }
    }
  }
  &__check {
    margin-top: 46px;
    text-align: center;
    @include mq('sp') {
      margin-top: 24px;
    }
    a {
      color: $color-text-base;
      transition: all 0.3s ease 0s;
      &:hover {
        opacity: $hover-opacity;
      }
    }
  }
  &__submit {
    margin-top: 30px;
    text-align: center;
  }
  &__modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 68%;
    max-width: 100%;
    padding: 60px 56px 20px;
    height: 80%;
    z-index: map-get($layer, 'modal');
    background: #fff;
    display: none;
    @include mq('tab') {
      width: 90%;
      height: 80%;
      padding: 38px 36px 20px;
    }
    @include mq('tab') {
      height: 90%;
      padding: 38px 24px 20px;
    }
    &.is-show {
      display: block;
    }
    &-close-icon {
      position: absolute;
      right: -21px;
      top: -21px;
      cursor: pointer;
      img {
        width: 43px;
      }
    }
    &-title {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 24px;
      position: relative;
      color: #707070;
      &::after {
        content: "";
        width: 155px;
        height: 2px;
        background: $color-main;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &-content {
      overflow: auto;
      margin-top: 42px;
      height: calc(100% - 148px - 52px);
      > :first-child {
        margin-top: 0;
      }
      @include mq('tab') {
        margin-top: 60px;
        height: calc(100% - 148px - 52px);
      }
      @include mq('sp') {
        margin-top: 38px;
        height: calc(100% - 128px - 52px);
      }
    }
    &-head {
      font-size: 20px;
      padding: 0 0 0 28px;
      color: #707070;
      position: relative;
      font-weight: bold;
      margin-top: 52px;
      @include mq('sp') {
        margin-top: 32px;
      }
      &::before {
        content: "";
        position: absolute;
        height: 18px;
        width: 3px;
        background: $color-main;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
    &-text {
      padding: 0 0 0 28px;
      color: #707070;
      line-height: (26 / 16);
    }
    &-close-button {
      text-align: center;
      margin-top: 24px;
    }
    &-background {
      width: 100%;
      height: 100%;
      position: fixed;
      background: #000;
      opacity: 0.3;
      top: 0;
      left: 0;
      z-index: map-get($layer, 'modal') - 1;
      display: none;
      &.is-show {
        display: block;
      }
    }
  }
}

.form {
  &-input {
    width: 100%;
    border: 1px solid #707070;
    padding: 16px;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    @include mq('sp') {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  &-select {
    appearance: none;
    background: transparent url(../img/select-arrow.png) no-repeat center right 18px / 24px 15px;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    padding: 14px 16px;
    width: 100%;
    border: 1px solid #707070;
    @include mq('sp') {
      padding-top: 10px;
      padding-bottom: 10px;
      background-position: center right 10px;
    }
    &::-ms-expand {
      display: none;
    }
  }
  &-textarea {
    width: 100%;
    height: 240px;
    border: 1px solid #707070;
    resize: none;
    padding: 10px 16px;
    line-height: (26 / 16);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    @include mq('sp') {
      height: 180px;
    }
  }
  &-radio {
    display: none;
    +span {
      cursor: pointer;
      display: inline-block;
      padding: 0 0 0 40px;
      position: relative;
      &::before,
      &::after {
        content: "";
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        background: #fff;
        border: 1px solid #707070;
        display: block;
        left: 0;
        width: 30px;
        height: 30px;
      }
      &::after {
        background: $color-main;
        border: 1px solid transparent;
        left: 6px;
        width: 18px;
        height: 18px;
        transition: opacity 0.3s ease 0s;
        opacity: 0;
      }
    }
    &:checked {
      +span {
        &::after {
          opacity: 1;
        }
      }
    }
  }
  &-checkbox {
    display: none;
    +span {
      cursor: pointer;
      display: inline-block;
      padding: 0 0 0 50px;
      position: relative;
      @include mq('sp') {
        padding-left: 46px;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.16);
        display: block;
        left: 0;
        width: 30px;
        height: 30px;
      }
      &::after {
        border: 1px solid transparent;
        left: 1px;
        width: 28px;
        height: 22px;
        background: transparent url(../img/icon-check.png) no-repeat center center / contain;
        transition: opacity 0.3s ease 0s;
        opacity: 0;
      }
    }
    &:checked {
      +span {
        &::after {
          opacity: 1;
        }
      }
    }
  }
  &-button {
    -webkit-appearance: none;
    background: $color-main url(../img/icon-arrow-right.png) no-repeat center right 18px / 13px 20px;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    min-width: 260px;
    padding: 14px 16px 13px;
    font-size: 22px;
    border-radius: 12px;
    font-weight: bold;
    transition: opacity 0.3s ease 0s;
    text-align: center;
    &:hover {
      opacity: $hover-opacity;
    }
    @include mq('sp') {
      min-width: initial;
      max-width: 100%;
      width: 260px;
    }
  }
}

.footer {
  padding: 72px 0 30px;
  background: linear-gradient(to bottom, #666, #333);
  @include mq('sp') {
    padding-top: 62px;
    padding-bottom: 24px;
  }
  &__inner {}
  &__contents {
    display: flex;
    @include mq('sp') {
      display: block;
    }
  }
  &__left {
    width: 35%;
    padding: 0 10px;
    @include mq('sp') {
      width: 100%;
      padding: 0;
    }
  }
  &__center {
    width: 50%;
    padding: 8px 10px 0;
    @include mq('sp') {
      width: 100%;
      margin-top: 52px;
      padding: 0;
    }
  }
  &__right {
    width: 20%;
    padding: 10px 24px;
    @include mq('tab') {
      padding-left: 10px;
      padding-right: 10px;
    }
    @include mq('sp') {
      width: 100%;
      margin-top: 24px;
      padding: 0;
    }
  }
  &__logo {
    a {
      transition: all 0.3s ease 0s;
      text-decoration: none;
      &:hover {
        opacity: $hover-opacity;
      }
    }
    img {
      width: 200px;
    }
  }
  &__info {
    margin-top: 20px;
    color: #fff;
    @include mq('sp') {
      margin-top: 20px;
      font-size: 14px;
    }
    p {
      margin-top: 0;
      margin-bottom: 12px;
      @include mq('sp') {
        margin-bottom: 6px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin-right: 30px;
        margin-bottom: 12px;
        &:last-child {
          margin-right: 0;
        }
        a {
          color: #fff;
          text-decoration: none;
          transition: all 0.3s ease 0s;
          font-family: $font-family-english;
          &:hover {
            opacity: $hover-opacity;
          }
        }
      }
    }
  }
  &_sns {
    ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      padding: 0;
      margin: 0;
      @include mq('sp') {
        justify-content: center;
      }
      li {
        margin-right: 16px;
        &:last-child {
          margin-right: 0;
        }
        a {
          text-decoration: none;
          transition: all 0.3s ease 0s;
          &:hover {
            opacity: $hover-opacity;
          }
        }
        img {
          width: 30px;
        }
      }
    }
  }
  &__copy {
    margin-top: 86px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: $font-family-english;
    @include mq('sp') {
      margin-top: 50px;
    }
  }
}

.totop {
  position: fixed;
  right: 18px;
  bottom: 8px;
  z-index: 100;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  @include mq('sp') {
    right: 10px;
    bottom: 10px;
  }
	&.is-show {
		visibility: visible;
	}
  a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: $hover-opacity;
    }
  }
  img {
    width: 60px;
    @include mq('sp') {
      width: 42px;
    }
  }
}