@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

@media (min-width: 1088px) {
  .hidden-pc {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1087px) {
  .hidden-tab {
    display: none;
  }
}

@media (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  background: #3F51B5 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 30px 0;
  z-index: 20;
}

.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo {
  margin: 0;
  line-height: 1;
}

.header_logo img {
  width: 200px;
  vertical-align: top;
}

.header_logo a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_nav {
  margin-left: auto;
}

@media (max-width: 767px) {
  .header_nav {
    display: none;
  }
}

.header_nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav ul li {
  margin-right: 30px;
}

.header_nav ul li:last-child {
  margin-right: 0;
}

.header_nav ul li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}

.header_nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: #e81919;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_nav ul li a.is-active::after {
  opacity: 1;
}

.inner {
  width: 1088px;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 1087px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.mainvisual {
  height: 700px;
  width: 100%;
  background: transparent url(../img/mainvisual.png) no-repeat top center/cover;
  position: relative;
  overflow: hidden;
}

.mainvisual_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.mainvisual_title {
  font-size: 68px;
  font-weight: 700;
  line-height: 1.4;
}

@media (max-width: 1087px) {
  .mainvisual_title {
    font-size: 56px;
  }
}

@media (max-width: 767px) {
  .mainvisual_title {
    font-size: 36px;
  }
}

.mainvisual_lead {
  font-size: 38px;
  font-weight: 700;
  margin-top: 3px;
}

@media (max-width: 1087px) {
  .mainvisual_lead {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .mainvisual_lead {
    font-size: 20px;
  }
}

.mainvisual_button {
  margin-top: 78px;
}

@media (max-width: 1087px) {
  .mainvisual_button {
    margin-top: 62px;
  }
}

@media (max-width: 767px) {
  .mainvisual_button {
    margin-top: 42px;
  }
}

.button, .button-mainvisual {
  display: inline-block;
  background: #3f51b5;
  color: #fff;
  text-align: center;
  padding: 1em 3em;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button-mainvisual {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding: 12px 80px;
  border-radius: 12px;
  font-size: 38px;
}

@media (max-width: 1087px) {
  .button-mainvisual {
    font-size: 30px;
    padding-left: 52px;
    padding-right: 52px;
  }
}

@media (max-width: 767px) {
  .button-mainvisual {
    padding: 10px 36px;
    border-radius: 8px;
    font-size: 20px;
  }
}
