@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

@media (min-width: 1088px) {
  .hidden-pc {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1087px) {
  .hidden-tab {
    display: none;
  }
}

@media (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

.color-active {
  color: #e81919;
}

.font-size-small {
  font-size: 0.9em;
}

.font-em {
  font-weight: 700;
  color: #e81919;
  font-size: 1.1em;
}

.inner {
  width: 1088px;
  max-width: 100%;
  margin: 0 auto;
  height: inherit;
}

@media (max-width: 1087px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.button {
  padding: 80px 0;
}

.button__item {
  padding: 1em;
}

.hover01 {
  display: inline-block;
  min-width: 230px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
  padding: 15px 16px;
  background: #3f51b5;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.hover01:hover {
  opacity: 0.6;
}

.hover02 {
  min-width: 230px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 15px 16px;
  background: #fff;
  border: 0.1875em solid #3f51b5;
  color: #3f51b5;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.hover02:hover {
  background: #3f51b5;
  color: #fff;
}

.hover03 {
  min-width: 230px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 5px solid #2a3678;
  background: #3f51b5;
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 15px 16px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.hover03:hover {
  border-bottom-color: transparent;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.hover04 {
  min-width: 230px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  background: #3f51b5;
  margin: 0;
  padding: 15px 16px;
  color: #fff;
  display: inline-block;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.hover04:hover {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.hover05 {
  display: inline-block;
  min-width: 230px;
  min-height: 230px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
  padding: 15px 16px;
  background: #3f51b5;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.hover05:hover {
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

.hover06 {
  display: inline-block;
  min-width: 230px;
  min-height: 230px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
  padding: 15px 16px;
  background: #3f51b5;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.hover06:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.hover07 {
  display: inline-block;
  min-width: 230px;
  min-height: 230px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
  padding: 15px 16px;
  background: #3f51b5;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.hover07:hover {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

.hover08 {
  display: inline-block;
  min-width: 230px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
  padding: 15px 16px;
  background: #3f51b5;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.hover08:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.hover09 {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #3f51b5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.hover09:hover {
  color: #e81919;
}

.hover10 {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #3f51b5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

.hover10::after {
  position: absolute;
  content: '';
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: #3f51b5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.hover10:hover::after {
  width: 100%;
}
