// -----
// 設定
// -----

// 色
$color-main: #3f51b5; // ベース色
$color-active: #e81919; // アクティブ色
$color-background-base: #fff; // 背景色
$color-text-base: #333; // テキスト色
$hover-opacity: 0.6; // 透過度

// レイアウト幅
$layout-width-canvas: 1366px;
$layout-width-inner: 1088px;

// ブレークポイント
$breakpoints: (
	"sp": "(max-width: 767px)",
	"tab-only": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
	"tab": "(max-width: #{$layout-width-inner - 1px})",
	"pc": "(min-width: #{$layout-width-inner})",
);

// 階層
$layer: (
	modal: 100, // モダール
	drawer: 40, // ドロワー
	floating: 30, // フローティングアイテム
	header: 20, // ヘッダー
	footer: 10, // フッター
	default: 1,
);

// 余白
$padding-tab: 24px;
$padding-sp: 16px;

// Googleフォント
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&subset=japanese&display=swap');

// フォント
$font-family-default: "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif; // 標準フォント
$font-family-english: 'Lato', sans-serif; // 英語フォント
$font-family-japanease: 'Noto Sans JP', sans-serif; // 日本語フォント
$font-family-base: $font-family-japanease;
$font-size-base: 16px;
$font-weight-base: 400;
$line-height-base: 1.6;

// メディアクエリー
@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

// ハンバーガーアイコン
$drawer-bar-space: 5px;
$drawer-bar-width: 28px;
$drawer-bar-height: 4px;
$drawer-content-width: 200px;

// -----
// 初期化
// -----
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	color: $color-text-base;
	line-height: $line-height-base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: $color-background-base;
	overflow-x: hidden;
	overflow-wrap: break-word;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
}

// -----
// 補完クラス
// -----

// PCだけ非表示
.hidden-pc {
	@include mq('pc') {
		display: none;
	}
}

// タブレットだけ非表示
.hidden-tab {
	@include mq('tab-only') {
		display: none;
	}
}

// スマホだけ非表示
.hidden-sp {
	@include mq('sp') {
		display: none;
	}
}

// テキスト色の強調
.color-active {
	color: $color-active;
}

// テキストサイズの縮小
.font-size-small {
	font-size: 0.9em;
}

// テキストの強調（色と大きさ）
.font-em {
	font-weight: 700;
	color: $color-active;
	font-size: 1.1em;
}

// -----
// 共通パーツ
// -----

// インナー
.inner {
	width: $layout-width-inner;
	max-width: 100%;
	margin: 0 auto;
	height: inherit;

	@include mq('tab') {
		padding-left: $padding-tab;
		padding-right: $padding-tab;
	}

	@include mq('sp') {
		padding-left: $padding-sp;
		padding-right: $padding-sp;
	}
}

// ボタン（ベース）
.button {
	display: inline-block;
	background: $color-main;
	color: #fff;
	text-align: center;
	padding: 1em 3em;
	font-size: $font-size-base;
	font-weight: 700;
	text-decoration: none;
	box-shadow: 0 3px 6px rgba(#000, 0.16);
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

// ボタン（メインビジュアル）
.button-mainvisual {
	@extend .button;

	transition: all 0.5s ease 0s;
	padding: 12px 80px;
	border-radius: 12px;
	font-size: 38px;

	@include mq('tab') {
		font-size: 30px;
		padding-left: 52px;
		padding-right: 52px;
	}

	@include mq('sp') {
		padding: 10px 36px;
		border-radius: 8px;
		font-size: 20px;
	}

	&:hover {
		transform: scale(1.1);
	}
}

// ボタン（電話）
.button-tel {
	@extend .button;

	padding: 10px 26px;
	font-size: 18px;
	border-radius: 8px;
	background: $color-active;

	&:hover {
		opacity: $hover-opacity;
	}

	@include mq('tab') {
		font-size: 16px;
	}

	@include mq('sp') {
		padding: 4px 18px;
		border-radius: 6px;
	}
}

// ボタン（右矢印）
.button-arrow-right {
	@extend .button;

	border-radius: 12px;
	font-size: 20px;
	padding: 13px 58px 12px;
	position: relative;

	@include mq('tab') {
		padding-left: 50px;
		padding-right: 50px;
	}

	@include mq('sp') {
		padding: 10px 36px;
		border-radius: 8px;
		font-size: 18px;
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 18px;
		width: 13px;
		height: 20px;
		background: transparent url(../img/icon-arrow-right.png) no-repeat center center / contain;

		@include mq('sp') {
			right: 10px;
			width: (13px * 0.92);
			height: (20px * 0.92);
		}
	}

	&:hover {
		opacity: $hover-opacity;
	}
}

// ボタン（モーダル内）
.button-modal {
	@extend .button;

	border-radius: 12px;
	width: 180px;
	padding-top: 8px;
	padding-bottom: 8px;

	&:hover {
		opacity: $hover-opacity;
	}
}

// セクションタイトル
.section-title {
	font-size: 60px;
	font-weight: 700;
	padding: 0 0 28px;
	margin: 0;
	position: relative;
	text-align: center;
	font-family: $font-family-english;

	&::after {
		content: "";
		background: #3f51b5;
		width: 76px;
		height: 5px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);

		@include mq('sp') {
			width: 48px;
		}
	}

	@include mq('tab') {
		font-size: 50px;
		padding-bottom: 28px;
	}

	@include mq('sp') {
		font-size: 42px;
		padding-bottom: 16px;
	}
}

// -----
// ヘッダー
// -----
.header {
	background: $color-main;
	padding: 30px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: map-get($layer, 'header');

	@include mq('sp') {
		padding-top: 14px;
		padding-bottom: 14px;
	}
}

.header__inner {
	display: flex;
	align-items: center;
}

.header__logo {
	margin: 0;
	line-height: 1;

	img {
		width: 200px;
		vertical-align: top;

		@include mq('tab') {
			width: 180px;
		}

		@include mq('sp') {
			width: 148px;
		}
	}

	a {
		text-decoration: none;
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: $hover-opacity;
		}
	}
}

.header__nav {
	margin-left: auto;

	@include mq('sp') {
		display: none;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;

		li {
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}

			a {
				transition: all 0.3s ease 0s;
				text-decoration: none;
				color: #fff;
				display: block;
				position: relative;
				font-family: $font-family-english;

				&::after {
					content: "";
					position: absolute;
					left: 0;
					bottom: -3px;
					width: 100%;
					height: 3px;
					background: $color-active;
					opacity: 0;
					transition: all 0.3s ease 0s;
				}

				&:hover,
				&.is-active {
					&::after {
						opacity: 1;
					}
				}
			}
		}
	}
}

// -----
// ドロワー
// -----
.drawer-icon {
	display: none;
	position: fixed;
	right: 10px;
	top: 16px;
	z-index: map-get($layer, "drawer") + 1;
	text-align: center;
	cursor: pointer;
	transition: all 0.5s ease 0s;

	&.is-checked {
		transform: translateX(-$drawer-content-width);
	}

	@include mq('sp') {
		display: block;
	}
}

.drawer-bars {
	display: inline-block;
	width: $drawer-bar-width;
	height: $drawer-bar-height + ($drawer-bar-space + $drawer-bar-height) * 2;
	position: relative;
	vertical-align: bottom;
}

.drawer-bar {
	position: absolute;
	right: 0;
	left: 0;
	display: block;
	background: #fff;
	width: 100%;
	height: $drawer-bar-height;
	border-radius: 0;
	transition: all 0.3s linear 0s;

	&:nth-of-type(1) {
		top: 0;
	}

	&:nth-of-type(2) {
		top: $drawer-bar-space + $drawer-bar-height;
	}

	&:nth-of-type(3) {
		top: ($drawer-bar-space + $drawer-bar-height) * 2;
	}

	.is-checked & {
		&:nth-of-type(1) {
			top: 10px;
			transform: rotate(-45deg);
		}

		&:nth-of-type(2) {
			background: transparent;
		}

		&:nth-of-type(3) {
			top: 10px;
			transform: rotate(45deg);
		}
	}
}

.drawer-background {
	display: none;
	position: fixed;
	z-index: map-get($layer, "drawer") - 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	transition: all 0.5s ease 0s;

	&.is-checked {
		display: block;
		opacity: 0.8;
	}
}

.drawer-content {
	overflow: auto;
	position: fixed;
	top: 0;
	right: 0;
	bottom: auto;
	left: auto;
	transform: translateX(105%);
	z-index: map-get($layer, "drawer");
	width: $drawer-content-width;
	max-width: 90%;
	height: 100%;
	background: #fff;
	transition: all 0.5s ease 0s;
	text-align: left;
	color: #707070;

	&.is-checked {
		transform: translateX(0);
		box-shadow: 6px 0 25px rgba(#000, 0.16);
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			border-bottom: 1px dotted #707070;

			a {
				text-decoration: none;
				display: block;
				position: relative;
				padding: 13px 30px 12px 20px;
				color: #707070;

				&::after {
					content: "";
					position: absolute;
					right: 20px;
					top: 50%;
					transform: translateY(-50%);
					width: 7px;
					height: 11px;
					background: transparent url(../img/drawer-arrow-right.png) no-repeat center center / contain;
				}
			}
		}
	}
}

// -----
// メインビジュアル
// -----
.mainvisual {
	height: 700px;
	width: 100%;
	background: transparent url(../img/mainvisual.png) no-repeat top center / cover;
	position: relative;
	overflow: hidden;

	@include mq('tab') {
		height: 600px;
	}

	@include mq('sp') {
		height: 500px;
	}
}

.mainvisual__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 50px;
	width: 100%;
	text-align: center;

	@include mq('tab') {
		padding-left: $padding-tab;
		padding-right: $padding-tab;
		margin-top: 40px;
	}

	@include mq('sp') {
		padding-left: $padding-sp;
		padding-right: $padding-sp;
		margin-top: 30px;
	}
}

.mainvisual__title {
	font-size: 68px;
	font-weight: 700;
	line-height: 1.4;

	@include mq('tab') {
		font-size: 56px;
	}

	@include mq('sp') {
		font-size: 36px;
	}
}

.mainvisual__lead {
	font-size: 38px;
	font-weight: 700;
	margin-top: 3px;

	@include mq('tab') {
		font-size: 30px;
	}

	@include mq('sp') {
		font-size: 20px;
	}
}

.mainvisual__button {
	margin-top: 78px;

	@include mq('tab') {
		margin-top: 62px;
	}

	@include mq('sp') {
		margin-top: 42px;
	}
}
