//ブレイクポイント
$breakPointList: 767px, 768px;

//メディアクエリ
$mq: (
  'sp': 'screen and (max-width: #{nth($breakPointList, 1)})',
  'pc': 'print,screen and (min-width: #{nth($breakPointList, 2)})'
) !default;

//画像格納ディレクトリ
$imgDir: '/img/';

//PCレイアウト時の最小横幅
$minPcContentWidth: 1000px;

//サイトで使用するカラー
$colors: #027744, #e43d60;